*,:after,:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

progress {
    -webkit-appearance: none;
    appearance: none;
    background-size: auto;
    border: none
}

ol,ul {
    list-style: none
}

button {
    background: none;
    border: none;
    color: currentColor;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

button:disabled {
    cursor: auto
}

a {
    color: currentColor;
    text-decoration: none
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

img {
    width: 100%
}

input,select {
    background: none;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: inherit;
    outline: none
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

@font-face {
    font-display: swap;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    src: url(/static/media/Nunito-Regular.08d796f9635ea73e67b1.woff2) format("woff2");
    src: url(/static/media/Nunito-Regular.8811f77ef08054320236.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    src: url(/static/media/Nunito-Bold.5b4c8cfd3c196071f90c.woff2) format("woff2");
    src: url(/static/media/Nunito-Bold.a9be770b21b21fb23b4c.woff) format("woff")
}

body {
    fill: #000;
    background: #fff;
    color: #000;
    font-family: Nunito,sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 50px;
    transition: all .5s
}

@media(min-width: 1150px) {
    body {
        padding-top:70px
    }
}

body::-webkit-scrollbar {
    display: none
}

body.dark {
    fill: #fff;
    background: #333;
    color: #fff
}

body.no_scroll {
    overflow-y: hidden
}

.off {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
}

.off,.on {
    transition: opacity .7s,-webkit-transform .7s;
    transition: transform .7s,opacity .7s;
    transition: transform .7s,opacity .7s,-webkit-transform .7s
}

.on {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.preloader {
    align-items: center;
    background: #fff;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10
}

.preloader.dark {
    background: #333
}

.preloader:after {
    -webkit-animation-delay: 0s,0s;
    animation-delay: 0s,0s;
    -webkit-animation-direction: normal,normal;
    animation-direction: normal,normal;
    -webkit-animation-duration: 2s,2s;
    animation-duration: 2s,2s;
    -webkit-animation-fill-mode: none,none;
    animation-fill-mode: none,none;
    -webkit-animation-iteration-count: infinite,infinite;
    animation-iteration-count: infinite,infinite;
    -webkit-animation-name: shadow,rotate;
    animation-name: shadow,rotate;
    -webkit-animation-play-state: running,running;
    animation-play-state: running,running;
    -webkit-animation-timing-function: ease,ease;
    animation-timing-function: ease,ease;
    border-radius: 50%;
    color: #1facf7;
    content: "";
    font-size: 50px;
    height: 1em;
    width: 1em
}

@-webkit-keyframes shadow {
    0% {
        box-shadow: 0 -.83em 0 -.4em,0 -.83em 0 -.42em,0 -.83em 0 -.44em,0 -.83em 0 -.46em,0 -.83em 0 -.477em
    }

    5%,95% {
        box-shadow: 0 -.83em 0 -.4em,0 -.83em 0 -.42em,0 -.83em 0 -.44em,0 -.83em 0 -.46em,0 -.83em 0 -.477em
    }

    10%,59% {
        box-shadow: 0 -.83em 0 -.4em,-.087em -.825em 0 -.42em,-.173em -.812em 0 -.44em,-.256em -.789em 0 -.46em,-.297em -.775em 0 -.477em
    }

    20% {
        box-shadow: 0 -.83em 0 -.4em,-.338em -.758em 0 -.42em,-.555em -.617em 0 -.44em,-.671em -.488em 0 -.46em,-.749em -.34em 0 -.477em
    }

    38% {
        box-shadow: 0 -.83em 0 -.4em,-.377em -.74em 0 -.42em,-.645em -.522em 0 -.44em,-.775em -.297em 0 -.46em,-.82em -.09em 0 -.477em
    }

    to {
        box-shadow: 0 -.83em 0 -.4em,0 -.83em 0 -.42em,0 -.83em 0 -.44em,0 -.83em 0 -.46em,0 -.83em 0 -.477em
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 -.83em 0 -.4em,0 -.83em 0 -.42em,0 -.83em 0 -.44em,0 -.83em 0 -.46em,0 -.83em 0 -.477em
    }

    5%,95% {
        box-shadow: 0 -.83em 0 -.4em,0 -.83em 0 -.42em,0 -.83em 0 -.44em,0 -.83em 0 -.46em,0 -.83em 0 -.477em
    }

    10%,59% {
        box-shadow: 0 -.83em 0 -.4em,-.087em -.825em 0 -.42em,-.173em -.812em 0 -.44em,-.256em -.789em 0 -.46em,-.297em -.775em 0 -.477em
    }

    20% {
        box-shadow: 0 -.83em 0 -.4em,-.338em -.758em 0 -.42em,-.555em -.617em 0 -.44em,-.671em -.488em 0 -.46em,-.749em -.34em 0 -.477em
    }

    38% {
        box-shadow: 0 -.83em 0 -.4em,-.377em -.74em 0 -.42em,-.645em -.522em 0 -.44em,-.775em -.297em 0 -.46em,-.82em -.09em 0 -.477em
    }

    to {
        box-shadow: 0 -.83em 0 -.4em,0 -.83em 0 -.42em,0 -.83em 0 -.44em,0 -.83em 0 -.46em,0 -.83em 0 -.477em
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.progress {
    background: #aaa;
    height: 2px;
    left: 0;
    position: fixed;
    top: 50px;
    transition: top .5s;
    width: 100%;
    z-index: 2
}

@media(min-width: 1150px) {
    .progress {
        top:70px
    }
}

.progress::-webkit-progress-bar {
    background: #aaa
}

.progress::-webkit-progress-value {
    background: #1facf7;
    border-radius: 10px
}

.progress.hidden {
    top: -100%;
    transition: all 1s
}

.header {
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    color: #000;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .5s;
    z-index: 1
}

@media(min-width: 1150px) {
    .header {
        height:70px
    }
}

.header:after {
    background: currentColor;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 1
}

@media(min-width: 1150px) {
    .header:after {
        height:2px;
        top: 70px
    }
}

.header.dark {
    background: #333;
    color: #fff
}

.header.hidden {
    opacity: 0;
    top: -100%;
    transition: all .6s
}

.header__wrapper {
    align-items: center;
    background: inherit;
    display: flex;
    height: 50px;
    position: relative;
    width: 100%;
    z-index: 0
}

@media(min-width: 770px) {
    .header__wrapper {
        margin:0 auto;
        max-width: 690px;
        padding: 10px 0
    }
}

@media(min-width: 1150px) {
    .header__wrapper {
        height:70px;
        max-width: 930px
    }
}

@media(min-width: 1440px) {
    .header__wrapper {
        max-width:1140px
    }
}

.header__nav {
    align-items: center;
    background: inherit;
    display: flex;
    height: 100%;
    padding-left: 15px;
    position: relative
}

@media(min-width: 1150px) {
    .header__nav {
        background:transparent;
        width: 100%
    }
}

.header__nav:after {
    background: inherit;
    content: "";
    display: block;
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw
}

.header__logo {
    display: block;
    height: 30px;
    position: relative;
    transition: opacity .5s;
    z-index: 1
}

@media(min-width: 1150px) {
    .header__logo {
        height:40px
    }

    .header__logo:hover {
        opacity: .5
    }
}

.header__logo svg {
    fill: currentColor;
    height: 100%
}

.header__menu {
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: -150%;
    transition: all .5s;
    visibility: hidden
}

.header__menu::-webkit-scrollbar {
    display: none
}

@media(min-width: 1150px) {
    .header__menu {
        flex-direction:row;
        margin-left: auto;
        overflow-y: visible;
        position: relative;
        top: 0;
        visibility: visible;
        z-index: 1
    }
}

.header__menu.active {
    height: 100vh;
    top: 50px;
    visibility: visible
}

@media(min-width: 770px) {
    .header__menu.active {
        height:auto
    }
}

.header__menu.dark {
    background: #333;
    color: #fff
}

.header__item {
    border-bottom: 1px solid #aaa;
    font-size: 24px
}

@media(min-width: 1150px) {
    .header__item {
        border:none;
        font-size: 18px;
        margin-left: 40px
    }

    .header__item:first-of-type {
        margin-left: 0
    }
}

@media(min-width: 1440px) {
    .header__item {
        margin-left:50px
    }
}

.header__item a {
    display: block;
    padding: 20px 15px;
    width: 100%
}

@media(min-width: 770px) {
    .header__item a {
        text-align:center
    }
}

@media(min-width: 1150px) {
    .header__item a {
        cursor:pointer;
        overflow-x: hidden;
        padding: 3px 0;
        position: relative;
        text-align: left
    }

    .header__item a:after {
        background: currentColor;
        border-radius: 3px;
        bottom: 0;
        content: "";
        display: block;
        height: 1.5px;
        left: -100%;
        position: absolute;
        transition: left .3s ease-in-out;
        width: 100%
    }

    .header__item a:hover:after {
        left: 0
    }
}

.header__lang {
    align-items: center;
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    margin-left: auto;
    position: relative
}

@media(min-width: 1150px) {
    .header__lang {
        margin-left:40px
    }
}

@media(min-width: 1440px) {
    .header__lang {
        margin-left:50px
    }
}

.header__lang select {
    color: currentColor;
    cursor: pointer;
    font-size: 16px;
    height: 34px;
    padding: 0 6px;
    position: relative;
    width: 50px;
    z-index: 1
}

.header__lang svg {
    fill: currentColor;
    position: absolute;
    right: 4px
}

.header__theme {
    fill: currentColor;
    height: 30px;
    margin-left: 20px;
    position: relative;
    transition: opacity .5s;
    z-index: 0
}

@media(min-width: 1150px) {
    .header__theme {
        margin-left:40px
    }

    .header__theme:hover {
        opacity: .5
    }
}

@media(min-width: 1440px) {
    .header__theme {
        margin-left:50px
    }
}

.header__theme svg {
    height: 100%
}

.header__burger {
    align-items: center;
    color: currentColor;
    display: flex;
    height: 20px;
    margin-left: 20px;
    margin-right: 15px;
    position: relative;
    width: 30px
}

@media(min-width: 1150px) {
    .header__burger {
        display:none
    }
}

.header__burger span {
    background: currentColor;
    display: block;
    height: 2px;
    transition: opacity 1s;
    width: 100%
}

.header__burger:after,.header__burger:before {
    background: currentColor;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: all .3s;
    width: 100%
}

.header__burger:before {
    top: 0
}

.header__burger:after {
    bottom: 0
}

.header__burger.active span {
    opacity: 0;
    transition: none
}

.header__burger.active:before {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg)
}

.header__burger.active:after {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(-45deg);
    transform: translateY(50%) rotate(-45deg)
}

.preview {
    border: 1px solid;
    border-radius: 20px;
    cursor: zoom-in;
    height: 70vw;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0
}

@media(min-width: 770px) {
    .preview {
        height:280px;
        margin: auto 0;
        min-height: auto
    }
}

@media(min-width: 1150px) {
    .preview {
        height:350px
    }
}

@media(min-width: 1440px) {
    .preview {
        height:400px
    }
}

.preview:after {
    fill: #000;
    align-items: center;
    background: #eee;
    border-top-right-radius: 20px;
    content: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m16.646 17.354-4-4 .708-.707 4 4a.5.5 0 0 1-.708.707Z" fill="%23000"/><path d="M7.5 4.5v3h-3v1h3v3h1v-3h3v-1h-3v-3h-1Z" fill="%23000"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16Z" fill="%23000"/></svg>');
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 1
}

.preview img {
    display: block;
    height: 100%;
    position: relative;
    transition: all .7s;
    z-index: 1
}

@media(min-width: 770px) {
    .preview img {
        height:100%
    }
}

@media(min-width: 1150px) {
    .preview img:hover {
        height:102%;
        width: 102%
    }
}

.download {
    background: inherit;
    color: currentColor
}

.download__wrapper {
    padding: 30px 15px
}

@media(min-width: 770px) {
    .download__wrapper {
        grid-gap:30px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
        max-width: 690px;
        padding: 30px 0
    }
}

@media(min-width: 1150px) {
    .download__wrapper {
        gap:40px;
        max-width: 930px;
        padding: 40px 0
    }
}

@media(min-width: 1440px) {
    .download__wrapper {
        gap:110px;
        max-width: 1140px;
        padding: 50px 0
    }
}

@media(min-width: 770px) {
    .download__body {
        display:flex;
        flex-direction: column;
        justify-content: center
    }
}

.download__title {
    font-size: 30px;
    font-weight: 700
}

@media(min-width: 770px) {
    .download__title {
        font-size:36px
    }
}

@media(min-width: 1150px) {
    .download__title {
        font-size:42px
    }
}

@media(min-width: 1440px) {
    .download__title {
        font-size:54px
    }
}

.download__copy {
    margin-top: 10px
}

@media(min-width: 770px) {
    .download__copy {
        font-size:16px
    }
}

@media(min-width: 1150px) {
    .download__copy {
        font-size:18px
    }
}

@media(min-width: 1440px) {
    .download__copy {
        font-size:20px;
        margin-top: 20px
    }
}

.download__copy:first-of-type {
    margin-top: 20px
}

@media(min-width: 1440px) {
    .download__copy:first-of-type {
        margin-top:30px
    }
}

.download__links {
    display: flex;
    flex-direction: column;
    margin-top: 20px
}

@media(min-width: 770px) {
    .download__links {
        flex-direction:row
    }
}

@media(min-width: 1440px) {
    .download__links {
        margin-top:30px
    }
}

.download__link {
    height: 44px;
    margin-top: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.download__link:first-of-type {
    margin-top: 0
}

@media(min-width: 770px) {
    .download__link {
        margin-left:20px;
        margin-top: 0
    }

    .download__link:first-of-type {
        margin-left: 0
    }
}

@media(min-width: 1150px) {
    .download__link {
        height:50px
    }

    .download__link:hover {
        opacity: .7
    }
}

.download__link svg {
    height: 100%;
    width: auto
}

.warranty {
    background: inherit;
    color: currentColor
}

.warranty__wrapper {
    padding: 30px 15px
}

@media(min-width: 770px) {
    .warranty__wrapper {
        grid-gap:30px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
        max-width: 690px;
        padding: 30px 0
    }
}

@media(min-width: 1150px) {
    .warranty__wrapper {
        gap:40px;
        max-width: 930px;
        padding: 40px 0
    }
}

@media(min-width: 1440px) {
    .warranty__wrapper {
        gap:110px;
        max-width: 1140px;
        padding: 50px 0
    }
}

@media(min-width: 770px) {
    .warranty__body {
        display:flex;
        flex-direction: column;
        justify-content: center;
        order: 1
    }
}

.warranty__title {
    font-size: 26px;
    font-weight: 700
}

@media(min-width: 770px) {
    .warranty__title {
        font-size:30px
    }
}

@media(min-width: 1150px) {
    .warranty__title {
        font-size:34px
    }
}

@media(min-width: 1440px) {
    .warranty__title {
        font-size:40px
    }
}

.warranty__copy {
    margin-top: 10px
}

@media(min-width: 770px) {
    .warranty__copy {
        font-size:16px
    }
}

@media(min-width: 1150px) {
    .warranty__copy {
        font-size:18px
    }
}

@media(min-width: 1440px) {
    .warranty__copy {
        font-size:20px;
        margin-top: 20px
    }
}

.warranty__copy:first-of-type {
    margin-top: 20px
}

@media(min-width: 1440px) {
    .warranty__copy:first-of-type {
        margin-top:30px
    }
}

.care {
    background: inherit;
    color: currentColor
}

.care__wrapper {
    padding: 30px 15px
}

@media(min-width: 770px) {
    .care__wrapper {
        grid-gap:30px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
        max-width: 690px;
        padding: 30px 0
    }
}

@media(min-width: 1150px) {
    .care__wrapper {
        gap:40px;
        max-width: 930px;
        padding: 40px 0
    }
}

@media(min-width: 1440px) {
    .care__wrapper {
        gap:110px;
        max-width: 1140px;
        padding: 50px 0
    }
}

@media(min-width: 770px) {
    .care__body {
        display:flex;
        flex-direction: column;
        justify-content: center
    }
}

.care__title {
    font-size: 26px;
    font-weight: 700
}

@media(min-width: 770px) {
    .care__title {
        font-size:30px
    }
}

@media(min-width: 1150px) {
    .care__title {
        font-size:34px
    }
}

@media(min-width: 1440px) {
    .care__title {
        font-size:40px
    }
}

.care__copy {
    margin-top: 10px
}

@media(min-width: 770px) {
    .care__copy {
        font-size:16px
    }
}

@media(min-width: 1150px) {
    .care__copy {
        font-size:18px
    }
}

@media(min-width: 1440px) {
    .care__copy {
        font-size:20px;
        margin-top: 20px
    }
}

.care__copy:first-of-type {
    margin-top: 20px
}

@media(min-width: 1440px) {
    .care__copy:first-of-type {
        margin-top:30px
    }
}

.cashback {
    background: inherit;
    color: currentColor
}

.cashback__wrapper {
    padding: 30px 15px
}

@media(min-width: 770px) {
    .cashback__wrapper {
        padding:30px 0
    }
}

@media(min-width: 1150px) {
    .cashback__wrapper {
        padding:40px 0
    }
}

@media(min-width: 1440px) {
    .cashback__wrapper {
        padding:50px 0
    }
}

@media(min-width: 770px) {
    .cashback__body {
        margin:0 auto;
        text-align: center;
        width: 460px
    }
}

@media(min-width: 1150px) {
    .cashback__body {
        width:500px
    }
}

@media(min-width: 1440px) {
    .cashback__body {
        width:580px
    }
}

.cashback__title {
    font-size: 26px;
    font-weight: 700
}

@media(min-width: 770px) {
    .cashback__title {
        font-size:30px
    }
}

@media(min-width: 1150px) {
    .cashback__title {
        font-size:34px
    }
}

@media(min-width: 1440px) {
    .cashback__title {
        font-size:40px
    }
}

.cashback__copy {
    margin-top: 10px
}

@media(min-width: 770px) {
    .cashback__copy {
        font-size:16px
    }
}

@media(min-width: 1150px) {
    .cashback__copy {
        font-size:18px
    }
}

@media(min-width: 1440px) {
    .cashback__copy {
        font-size:20px;
        margin-top: 20px
    }
}

.cashback__copy:first-of-type {
    margin-top: 20px
}

@media(min-width: 1440px) {
    .cashback__copy:first-of-type {
        margin-top:30px
    }
}

.cashback__btn {
    border: 1px solid #333;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 20px;
    min-height: 50px;
    overflow-x: hidden;
    padding: 15px 30px;
    position: relative;
    transition: all .3s;
    width: 100%
}

.cashback__btn.dark {
    border-color: #fff
}

@media(min-width: 1150px) {
    .cashback__btn.dark:after {
        background:#fff
    }

    .cashback__btn.dark:hover {
        color: #333
    }
}

.cashback__btn:disabled {
    color: currentColor;
    opacity: .5
}

.cashback__btn:disabled:after {
    display: none
}

.cashback__btn:disabled:hover {
    color: currentColor
}

@media(min-width: 770px) {
    .cashback__btn {
        width:250px
    }
}

@media(min-width: 1150px) {
    .cashback__btn:after {
        background:#333;
        border-radius: 30px;
        content: "";
        height: 100%;
        left: -100%;
        position: absolute;
        top: 0;
        transition: left .5s;
        width: 100%;
        z-index: -1
    }

    .cashback__btn:hover {
        color: #fff
    }

    .cashback__btn:hover:after {
        left: 0
    }
}

@media(min-width: 1440px) {
    .cashback__btn {
        margin-top:30px;
        min-height: 60px;
        width: 280px
    }
}

.clients {
    background: inherit
}

.clients__wrapper {
    grid-gap: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2,1fr);
    padding: 30px 15px
}

@media screen and (orientation: landscape) {
    .clients__wrapper {
        grid-template-columns:repeat(3,1fr)
    }
}

@media(min-width: 770px) {
    .clients__wrapper {
        grid-template-columns:repeat(4,1fr);
        margin: 0 auto;
        max-width: 690px;
        padding: 30px 0
    }
}

@media(min-width: 1150px) {
    .clients__wrapper {
        max-width:930px;
        padding: 40px 0
    }
}

@media(min-width: 1440px) {
    .clients__wrapper {
        max-width:1140px;
        padding: 50px 0
    }
}

.footer {
    background: #333;
    color: #fff
}

.footer__wrapper {
    padding: 30px 15px
}

@media(min-width: 770px) {
    .footer__wrapper {
        margin:0 auto;
        max-width: 690px;
        padding: 30px 0 40px
    }
}

@media(min-width: 1150px) {
    .footer__wrapper {
        max-width:930px;
        padding: 40px 0
    }
}

@media(min-width: 1440px) {
    .footer__wrapper {
        max-width:1140px;
        padding: 50px 0
    }
}

.footer__columns {
    grid-gap: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2,1fr)
}

@media screen and (orientation: landscape) {
    .footer__columns {
        grid-template-columns:repeat(3,1fr)
    }
}

@media(min-width: 770px) {
    .footer__columns {
        grid-template-columns:repeat(4,1fr)
    }
}

@media(min-width: 1150px) {
    .footer__columns {
        grid-template-columns:repeat(6,1fr)
    }
}

.footer__title {
    font-size: 16px;
    font-weight: 700
}

@media(min-width: 770px) {
    .footer__title {
        font-size:18px
    }
}

@media(min-width: 1150px) {
    .footer__title {
        font-size:20px
    }
}

@media(min-width: 1440px) {
    .footer__title {
        font-size:24px
    }
}

.footer__list {
    margin-top: 20px
}

@media(min-width: 1440px) {
    .footer__list {
        margin-top:30px
    }
}

.footer__item {
    margin-top: 10px
}

@media(min-width: 1150px) {
    .footer__item {
        font-size:16px;
        margin-top: 15px
    }
}

@media(min-width: 1440px) {
    .footer__item {
        font-size:18px;
        margin-top: 20px
    }
}

.footer__item:first-of-type {
    margin-top: 0
}

.footer__item a {
    transition: all .5s
}

@media(min-width: 1150px) {
    .footer__item a:hover {
        color:#999
    }
}

.footer__item img {
    transition: all .5s;
    width: 40px
}

@media(min-width: 1150px) {
    .footer__item img:hover {
        opacity:.5
    }
}

.footer__info {
    height: auto;
    margin-top: 30px;
    position: relative
}

@media(min-width: 1440px) {
    .footer__info {
        margin-top:40px
    }
}

.footer__logo {
    height: 24px;
    transition: .5s
}

@media(min-width: 1150px) {
    .footer__logo {
        height:30px
    }

    .footer__logo:hover {
        opacity: .5
    }
}

@media(min-width: 1440px) {
    .footer__logo {
        height:36px
    }
}

.footer__logo svg {
    height: 100%
}

.footer__copy {
    margin-top: 10px
}

.footer__copy:first-of-type {
    margin-top: 20px
}

@media(min-width: 1440px) {
    .footer__copy:first-of-type {
        margin-top:30px
    }
}

@media(min-width: 770px) {
    .footer__copy {
        max-width:500px
    }
}

@media(min-width: 1150px) {
    .footer__copy {
        font-size:16px;
        max-width: 650px
    }
}

@media(min-width: 1440px) {
    .footer__copy {
        font-size:18px;
        margin-top: 20px;
        max-width: 750px
    }
}

.footer__developer {
    display: block;
    margin: 10px auto 0;
    width: 70px
}

@media(min-width: 770px) {
    .footer__developer {
        margin:0;
        position: absolute;
        right: 0;
        top: 0
    }
}

@media(min-width: 1150px) {
    .footer__developer {
        width:100px
    }
}

@media(min-width: 1440px) {
    .footer__developer {
        width:120px
    }
}

.footer__developer img {
    transition: all .5s;
    vertical-align: middle
}

@media(min-width: 1150px) {
    .footer__developer img:hover {
        opacity:.5
    }
}

.modal-order {
    fill: #fff;
    align-items: center;
    background: transparent;
    bottom: 0;
    color: #000;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 50px 15px;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .2s;
    z-index: -1
}

.modal-order.active {
    background: rgba(0,0,0,.85);
    z-index: 3
}

.modal-order.active div:first-of-type {
    bottom: 50%;
    visibility: visible
}

.modal-order__body {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
    bottom: -100%;
    left: 50%;
    overflow: hidden;
    padding: 20px 15px;
    position: absolute;
    -webkit-transform: translate(-50%,50%);
    transform: translate(-50%,50%);
    transition: all .5s;
    visibility: hidden;
    width: 90%;
    z-index: 1
}

@media(min-width: 770px) {
    .modal-order__body {
        padding:30px 25px;
        width: 400px
    }
}

.modal-order__close {
    fill: #000;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px
}

.modal-order__close svg {
    height: 100%;
    width: 100%
}

.modal-order__title {
    color: #000;
    font-size: 18px;
    font-weight: 700
}

@media(min-width: 770px) {
    .modal-order__title {
        font-size:20px
    }
}

.modal-order__form {
    margin-top: 20px;
    position: relative
}

.modal-order__field {
    border-bottom: 1px solid #aaa;
    display: block;
    height: 26px;
    margin-top: 15px
}

.modal-order__field:first-of-type {
    margin-top: 0
}

.modal-order__field.error {
    border-color: red
}

.modal-order__field.success {
    border-color: #08fc3d
}

.modal-order__field input {
    display: block;
    font-size: 16px;
    height: 100%;
    padding-left: 5px;
    width: 100%
}

.modal-order__field input::-webkit-input-placeholder {
    color: #aaa;
    font-size: 16px
}

.modal-order__field input:-ms-input-placeholder {
    color: #aaa;
    font-size: 16px
}

.modal-order__field input::placeholder {
    color: #aaa;
    font-size: 16px
}

.modal-order__select {
    border-bottom: 1px solid #aaa;
    display: block;
    margin-top: 15px;
    position: relative
}

.modal-order__select:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 .5H0l5 9 5-9Z' fill='%23AAA'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 12px;
    right: 5px;
    width: 12px
}

.modal-order__select span,.modal-order__select:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.modal-order__select span {
    color: #aaa;
    font-size: 16px;
    left: 5px
}

.modal-order__select select {
    font-size: 16px;
    height: 26px;
    padding-left: 5px;
    position: relative;
    width: 100%;
    z-index: 1
}

.modal-order__select.success {
    border-color: #08fc3d
}

.modal-order__policy {
    align-items: center;
    display: flex;
    margin-top: 15px
}

.modal-order__policy a {
    margin-left: 5px;
    text-decoration: underline
}

@media(min-width: 770px) {
    .modal-order__policy a {
        margin-left:10px
    }
}

.modal-order__btn {
    border: 1px solid #aaa;
    border-radius: 30px;
    height: 40px;
    margin-top: 20px;
    transition: all .3s;
    width: 100%
}

.modal-order__btn:disabled {
    color: #aaa;
    cursor: auto;
    opacity: .8
}

.modal-order__loader {
    align-items: center;
    background: #fff;
    color: #000;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.modal-slider {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: dark-in;
    animation-name: dark-in;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2
}

@-webkit-keyframes dark-in {
    to {
        background: rgba(0,0,0,.95)
    }
}

@keyframes dark-in {
    to {
        background: rgba(0,0,0,.95)
    }
}

.modal-slider__description {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    left: 50%;
    position: absolute;
    top: 25px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: opacity .5s
}

@media(min-width: 770px) {
    .modal-slider__description {
        top:35px
    }
}

.modal-slider__description.hidden {
    opacity: 0
}

.modal-slider__description span {
    border-right: 2px solid transparent;
    color: #fff;
    white-space: nowrap;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.modal-slider__description span.cursor {
    border-color: currentColor
}

.modal-slider__description span.cursor-blink {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    animation-name: blink;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
    border-color: currentColor
}

@-webkit-keyframes blink {
    0%,to {
        border-color: transparent
    }

    50% {
        border-color: currentColor
    }
}

@keyframes blink {
    0%,to {
        border-color: transparent
    }

    50% {
        border-color: currentColor
    }
}

.modal-slider .slider {
    background: #fff;
    border: 1px solid;
    border-radius: 20px;
    overflow-x: hidden;
    position: fixed;
    transition: all .5s;
    z-index: 2
}

.modal-slider .slider__close {
    fill: #000;
    align-items: center;
    background: #e9e9e9;
    display: flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 2
}

.modal-slider .slider__slides {
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .5s
}

.modal-slider .slider__slide {
    height: 100%;
    object-fit: cover
}

.modal-slider .slider__next,.modal-slider .slider__prev {
    align-items: center;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 3px 5px rgba(95,95,95,.5);
    display: flex;
    height: 40px;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40px;
    z-index: 1
}

.modal-slider .slider__next.hidden,.modal-slider .slider__next:disabled,.modal-slider .slider__prev.hidden,.modal-slider .slider__prev:disabled {
    visibility: hidden
}

.modal-slider .slider__prev {
    left: 5px
}

.modal-slider .slider__next {
    right: 5px
}

.modal-slider .slider__pagination {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    bottom: 10px;
    color: #000;
    left: 50%;
    opacity: 0;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10
}

.modal-slider .slider__pagination.hidden {
    visibility: hidden
}

@-webkit-keyframes fade-in {
    to {
        opacity: .8
    }
}

@keyframes fade-in {
    to {
        opacity: .8
    }
}

.chatbot.active,.modal-slider__overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0
}

.chatbot.active {
    background: rgba(0,0,0,.5);
    z-index: 2
}

.chatbot__open {
    border-radius: 50%;
    bottom: 0;
    height: 100px;
    position: fixed;
    right: 0;
    width: 100px
}

.chatbot__open:before {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scale;
    animation-name: scale;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: rgba(105,255,155,.5);
    border-radius: inherit;
    content: "";
    display: block;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 50px;
    z-index: -1
}

@-webkit-keyframes scale {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }

    to {
        opacity: 0;
        -webkit-transform: translate(-50%,-50%) scale(2);
        transform: translate(-50%,-50%) scale(2)
    }
}

@keyframes scale {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }

    to {
        opacity: 0;
        -webkit-transform: translate(-50%,-50%) scale(2);
        transform: translate(-50%,-50%) scale(2)
    }
}

.chatbot__open:disabled {
    cursor: auto;
    opacity: .2
}

.chat {
    background: #fff;
    bottom: -100vh;
    display: grid;
    grid-template-rows: 40px auto 50px;
    height: 100vh;
    position: fixed;
    right: 0;
    transition: bottom .5s,visibility .5s;
    visibility: hidden;
    width: 100%;
    z-index: 3
}

@media(min-width: 770px) {
    .chat {
        border-radius:20px 20px 0 0;
        box-shadow: 0 0 25px hsla(0,0%,100%,.3);
        height: 70vh;
        overflow: hidden;
        right: 10vw;
        width: 380px
    }
}

@media(min-width: 1440px) {
    .chat {
        right:15vw
    }
}

.chat.open {
    bottom: 0;
    visibility: visible
}

.chat.dark {
    fill: #fff;
    background: #333;
    color: #fff
}

.chat__header {
    align-items: center;
    background: #f4f4f4;
    border-bottom: 1px solid hsla(0,0%,67%,.5);
    display: flex;
    justify-content: space-between
}

.chat__header.dark {
    background: inherit
}

.chat__logo {
    align-items: center;
    display: flex;
    height: 40px;
    padding-left: 10px
}

.chat__notice .dotes {
    opacity: .5
}

.chat__notice .dote {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

.chat__notice .dote:first-of-type,.chat__notice .dote:nth-of-type(2) {
    -webkit-animation-name: opacity;
    animation-name: opacity
}

.chat__notice .dote:nth-of-type(2) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.chat__notice .dote:nth-of-type(3) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    -webkit-animation-name: opacity;
    animation-name: opacity
}

@-webkit-keyframes opacity {
    50% {
        opacity: .4
    }

    0% {
        opacity: 1
    }
}

@keyframes opacity {
    50% {
        opacity: .4
    }

    0% {
        opacity: 1
    }
}

.chat__notice .copy {
    line-height: 90%;
    margin-left: 3px;
    opacity: .5
}

.chat__close {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px
}

.chat__close svg {
    fill: currentColor;
    height: 20px;
    width: 20px
}

.chat__body {
    overflow-y: scroll;
    padding: 10px
}

.chat__body::-webkit-scrollbar {
    background: transparent;
    width: 10px
}

.chat__body::-webkit-scrollbar-thumb {
    background: #888;
    border: 4px solid #fff;
    border-radius: 5px
}

.chat__body.dark {
    background: #000
}

.chat__body.dark::-webkit-scrollbar-thumb {
    border: 4px solid #000
}

.chat__body .message {
    margin-top: 10px;
    padding: 10px;
    width: 80%
}

.chat__body .message:first-of-type {
    margin-top: 30px
}

.chat__body .message.bot {
    background: #f1f0f6;
    border-radius: 10px 10px 10px 0;
    color: #000
}

.chat__body .message.user {
    background: #1facf7;
    border-radius: 10px 10px 0 10px;
    color: #fff;
    margin-left: auto
}

.chat__body .message__item {
    display: flex;
    margin-top: 5px
}

.chat__body .message__item button {
    color: #1facf7;
    margin-left: 5px;
    text-align: left;
    text-decoration: underline
}

.chat__body .message__date {
    display: block;
    font-size: 12px;
    margin-left: auto;
    opacity: .5;
    width: -webkit-max-content;
    width: max-content
}

.chat__footer {
    background: #f4f4f4;
    border-top: 1px solid hsla(0,0%,67%,.5);
    padding: 5px 10px
}

.chat__footer.dark {
    background: inherit
}

.chat__form {
    grid-gap: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns: auto 36px;
    height: 100%
}

.chat__input {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 30px;
    height: 100%;
    overflow: hidden;
    padding: 3px 10px;
    position: relative;
    width: 100%
}

.chat__input.dark {
    background: #000;
    color: #fff
}

.chat__input.dark .error-message {
    background: rgba(0,0,0,.5)
}

.chat__input.error {
    border-color: #ff4500
}

.chat__input .error-message {
    align-items: flex-start;
    background: hsla(0,0%,100%,.5);
    bottom: 0;
    color: #ff4500;
    display: flex;
    font-size: 10px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.chat__input input {
    color: currentColor;
    height: 100%;
    width: 100%
}

.chat__input input::-webkit-input-placeholder {
    font-size: 14px
}

.chat__input input:-ms-input-placeholder {
    font-size: 14px
}

.chat__input input::placeholder {
    font-size: 14px
}

.chat__submit {
    align-items: center;
    background: #1facf7;
    border-radius: 50%;
    color: #fff;
    display: flex;
    height: 36px;
    justify-content: center;
    transition: all .3s;
    width: 36px
}

.chat__submit:disabled {
    background: transparent;
    border: 1px solid;
    color: currentColor;
    opacity: .5
}

.chat__submit svg {
    fill: currentColor
}

/*# sourceMappingURL=main.e240e779.css.map*/
